/* .container{
    margin-top: 20px;
    width: 75%;
}

.title{
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
} */

.instr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.instr-title{
    font-size: 25px;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
}


.instr-text{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 70%;

}